# SLU04 - Data Structures

This notebook covers methods of Data Structures (Lists and Dictionaries) that were not included in the learning notebook.

### 1 Other Methods For Lists <a name="1"></a>

#### 1.1 __`clear()`__

Removes all the elements from a given list.

In [1]:
pizza = ["margherita", "napoletana", "carbonara", "romana", "gorgonzola", "calzone"]
pizza

['margherita', 'napoletana', 'carbonara', 'romana', 'gorgonzola', 'calzone']

In [2]:
pizza.clear()
pizza

[]

---

#### 1.2__ `copy()`__

Let's consider that we have a `pizza` list and we want to create a new list called `pasta`, starting with the same values as `pizza`. Let's see what happens if we do `pasta = pizza`.

In [3]:
pizza = ["margherita", "napoletana", "carbonara", "romana", "gorgonzola", "calzone"]
pizza

['margherita', 'napoletana', 'carbonara', 'romana', 'gorgonzola', 'calzone']

In [4]:
pasta = pizza
pasta

['margherita', 'napoletana', 'carbonara', 'romana', 'gorgonzola', 'calzone']

Now, if we remove `"calzone"` from the `pasta` list, let's see what happens to both lists.

In [5]:
del pasta[-1]
pasta

['margherita', 'napoletana', 'carbonara', 'romana', 'gorgonzola']

From the cell above we can see that we removed `"calzone"` from the list `pasta`. But what happened with `pizza` list?

In [6]:
pizza

['margherita', 'napoletana', 'carbonara', 'romana', 'gorgonzola']

It was also removed from the list `pizza`!! Let's check if the IDs of both objects are the same with function __`id()`__.

In [7]:
id(pizza) == id(pasta)

True

The IDs of `pizza` and `pasta` are the same. What is happening here is the following: when we make `pizza = pasta` we are just creating an alias to the same object `pizza`. __We are not creating a new list__. It is like a mirror, everything that we do with `pizza`, also happens with `pasta`, and vice-versa.

As it is explained in this [link](https://docs.python.org/3/library/copy.html): "*Assignment statements in Python do not copy objects, they create bindings between a target and an object. For collections that are mutable or contain mutable items, a copy is sometimes needed so one can change one copy without changing the other.*"

Also, a method that belongs to an object acts on it. As an example, when you use __`append()`__, we can do `this_list.append(new_element)`, without needing to assign the value `this_list = this_list.append(new_element)`.

We don't want `pizza` and `pasta` to be the same thing. We need them to be distinct objects. In order to do that, we can make use of the __`copy()`__ method.

Let's create the list `pizza` again.

In [8]:
pizza = ["margherita", "napoletana", "carbonara", "romana", "gorgonzola", "calzone"]
pizza

['margherita', 'napoletana', 'carbonara', 'romana', 'gorgonzola', 'calzone']

In [9]:
pasta = pizza.copy()
pasta

['margherita', 'napoletana', 'carbonara', 'romana', 'gorgonzola', 'calzone']

In [10]:
del pasta[-1]
pasta

['margherita', 'napoletana', 'carbonara', 'romana', 'gorgonzola']

In [11]:
pizza

['margherita', 'napoletana', 'carbonara', 'romana', 'gorgonzola', 'calzone']

We can see, from the cell above, that when we changed `pasta`, `pizza` remained the same.

In [12]:
id(pizza) == id(pasta)

False

And, as expected, `pizza` and `pasta` objects now have different IDs.

---

#### 1.3 __`extend()`__

This method can be used when we want to append more than one element to the end of the list.

In [13]:
pizza = ["margherita", "napoletana", "carbonara", "romana", "gorgonzola", "calzone"]
pizza

['margherita', 'napoletana', 'carbonara', 'romana', 'gorgonzola', 'calzone']

We have our `pizza` list, but we want to add 3 more pizza types to it.

In [14]:
other_pizzas = ["quattro stagioni", "Frutti di Mare", "quattro formaggi"]

In order to add the values in `other_pizzas` to the `pizza` list, we can use __`extend()`__.

In [15]:
pizza.extend(other_pizzas)

In [16]:
pizza

['margherita',
 'napoletana',
 'carbonara',
 'romana',
 'gorgonzola',
 'calzone',
 'quattro stagioni',
 'Frutti di Mare',
 'quattro formaggi']

---

#### 1.4 __`insert()`__

This method is useful if we want to add an element in a specific index position.

In [17]:
pizza

['margherita',
 'napoletana',
 'carbonara',
 'romana',
 'gorgonzola',
 'calzone',
 'quattro stagioni',
 'Frutti di Mare',
 'quattro formaggi']

Let's add the element `"Frutti di Mare"` to the second position of the array. This means positive index 1.

In [18]:
pizza.insert(1, 'Frutti di Mare')
pizza

['margherita',
 'Frutti di Mare',
 'napoletana',
 'carbonara',
 'romana',
 'gorgonzola',
 'calzone',
 'quattro stagioni',
 'Frutti di Mare',
 'quattro formaggi']

---

#### 1.5 __`pop()`__

Now, if we want to do the opposite and remove an element in a specific position, we can use the method __`pop()`__. This method returns the removed element.

In [19]:
pizza

['margherita',
 'Frutti di Mare',
 'napoletana',
 'carbonara',
 'romana',
 'gorgonzola',
 'calzone',
 'quattro stagioni',
 'Frutti di Mare',
 'quattro formaggi']

Let's remove the element we just added, `"Frutti di Mare"` on index 1.

In [20]:
pizza.pop(1)
pizza

['margherita',
 'napoletana',
 'carbonara',
 'romana',
 'gorgonzola',
 'calzone',
 'quattro stagioni',
 'Frutti di Mare',
 'quattro formaggi']

---

#### 1.6 __`reverse()`__

If we need to invert the order of the elements in the list, we can use __`reverse()`__.

In [21]:
pizza

['margherita',
 'napoletana',
 'carbonara',
 'romana',
 'gorgonzola',
 'calzone',
 'quattro stagioni',
 'Frutti di Mare',
 'quattro formaggi']

In [22]:
pizza.reverse()
pizza

['quattro formaggi',
 'Frutti di Mare',
 'quattro stagioni',
 'calzone',
 'gorgonzola',
 'romana',
 'carbonara',
 'napoletana',
 'margherita']

### 2 Other Methods For Dictionaries <a name="2.5"></a>

#### 2.1 `copy()`

As we did on <a href="#1">section 1</a> for lists, we can also use __`copy()`__ in order to copy the values of a dictionary to a new dictionary.

In [23]:
toilet_paper = {'type': 'others', 'price_per_unit': 50, 'quantity_purchased': 1000}
toilet_paper

{'type': 'others', 'price_per_unit': 50, 'quantity_purchased': 1000}

In [24]:
other_toilet_paper = toilet_paper.copy()
other_toilet_paper

{'type': 'others', 'price_per_unit': 50, 'quantity_purchased': 1000}

In [25]:
id(toilet_paper) != id(other_toilet_paper)

True

As we can see, `toilet_paper` and `other_toilet_paper` have the same elements but have different IDs, so they are different objects.

---

#### 2.2 __`clear()`__

This method deletes all the elements from a dictionary.

In [26]:
toilet_paper

{'type': 'others', 'price_per_unit': 50, 'quantity_purchased': 1000}

In [27]:
other_toilet_paper.clear()
len(other_toilet_paper) #size of the dictionary

0

---

#### 2.3 __`popitem()`__

This method removes a random key-value pair from the dictionary and returns it as a tuple.

In [28]:
toilet_paper.popitem()

('quantity_purchased', 1000)

In [29]:
toilet_paper

{'type': 'others', 'price_per_unit': 50}

---

#### 2.4 __`setdefault()`__

This method receives a key as input. 
- If the key exists in the dictionary, then it returns its value.
- If the key does not exist, the method adds the key-value pair to the dictionary with `value = default`. If the argument `default=` is not provided, the new value is `None`.

In [30]:
toilet_paper.setdefault("price_per_unit")

50

In [31]:
toilet_paper

{'type': 'others', 'price_per_unit': 50}

In [32]:
toilet_paper.setdefault("size")

In [33]:
toilet_paper

{'type': 'others', 'price_per_unit': 50, 'size': None}